.MainBox {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#150748, #C7C9F2);
    font-family: Avenir;
    font-style: normal;
}

.TopContainer {
    display: flex;
    justify-content: space-between;
}

.TopComponentsContainer {
    display: flex;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 2vh;
    align-items: center;
}

.LogoText {
    color:#C7C9F7;
    font-size: 40px;
}

.CreateAccountButton {
    color: white;
    background: transparent;
    outline-color: white;
    border-radius: 40px;
    margin-right: 20px;
    font-size: 20px;
}
.CreateAccountButton:hover {
    color: #E7C397;
    background: transparent
}

.SignUpButton {
    background: #E7C397;
    color: white;
    border-radius: 40px;
    font-size: 20px;
}

.BodyContainer {
    display: flex;
}

.DescriptionContainer {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    justify-content: center;
    width: 50vw;
    margin-top: 22vh;
}

.PlayNowContainer {
    display: flex;
    color: #C7C9F7;
    font-size: 24px;
    align-items: center;
}

.DescriptionText {
    font-size: 65px;
    font-weight: bold;
    color: #E7C397;
    z-index: 1;
    margin-top: 3vh;
    margin-bottom: 3vh;
}