.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #150748;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
}

.SongInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.TimeBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TimeTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.ControlsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}